<ion-view view-title="Perfil">
  <ion-content class="padding">
    
    <div class="row text-center">
      <div class="col text-left">
        <img src="./img/max.png" style="float:left; width: 150px; height: 150px;"/>
      <div>
      <div id="statusUser" class="col text-center">
        <p>Nome<p>
        <a href=""><i class="icon ion-edit"></i></a>
        <p>Idade<p><br>
        <p>Nacionalidade<p><br>
      
      </div>
    </div>
  <hr>
    <div class="row text-center">
      <div class="col">
        <p>Reputação</p>
      </div>
      <div class="col">
        <p>Curtidas?</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <p>Facebook ID</p>
      </div>
      <div class="col">
        <p>/YuriCalistrato</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <p>Email</p> 
        <a href=""><i class="icon ion-edit"></i></a>
      </div>
      <div class="col">
        <p>ec.coolabs@gmail.com</p>
      </div>
    </div>
<hr size="300" width="1" align="left">
  </ion-content>
</ion-view>
