<ion-view style="" title="Chat">
    <ion-content class="has-header has-footer" overflow-scroll="true" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">Yuri Calistrato</div>
            <div class="item item-body">
                <div style="">
                    <p>Aonde vc pretende passar? Posso te encontrar no IF?</p>
                </div>
            </div>
            <div class="item item-divider">13:00 01/02/2016</div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Arthur Cesar</div>
            <div class="item item-body">
                <div style="">
                    <p>Estou indo para o if... Não saindo dele!</p>
                </div>
            </div>
            <div class="item item-divider">13:05 01/02/2016</div>
        </div>
        <ion-list style=""></ion-list>
        <form style="" id="footer-input" ng-submit="add(message)">
            <ion-footer-bar keyboard-attach="" class="item-input-inset">

                <label class="item-input-wrapper">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input placeholder="Message" ng-model="message" type="text">
                </label>
                <a class="button button-clear" ng-click="takePicture()">
                    <i class="icon ion-paper-airplane"></i>
                </a>
            </ion-footer-bar>
        </form>
    </ion-content>
</ion-view>