<ion-view style="" title="Connect It">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <div style="width: 300px; height: 42px;" class="spacer"></div>
        <div style="">
            <h1 style="text-align:center">EcoRide</h1>
        </div>
        <div style="width: 300px; height: 44px;" class="spacer"></div>
        <div style="">
            <p style="text-align:center">Connect it with your social networks.</p>
        </div>
        <button style="" class="button button-positive button-block ">Facebook</button>
        <button style="" class="button button-assertive button-block ">Google</button>
        <div style="">
            <p style="text-align:center">Have a nice day!</p>
            <p style="text-align:center">EcoRide Team</p>
        </div>
        <div style="height: 100px;" class="spacer"></div>
    </ion-content>
</ion-view>