<ion-view view-title="Login" >
  <ion-content class="login-container">
   	<div class = "col header text-center">
    	<img src="./img/coollabcorp.png"/>
    </div>
    <div class = "col button-row text-center">
    	<a href=""><img src="./img/facebook-button.jpg" /></a>
    </div>
    <div class = "col button-row text-center">
    	<a href="/auth/facebook"><img src="./img/gmail-button.jpg" /></a>
    </div>
    <div class = "col text-center">
   	Already have an account? <strong><a href = "#">Sign in now!</a></strong>
  </ion-content>
</ion-view>