<ion-view view-title="Login" >
  <ion-content class="login-container">
    <div class = "col header text-center">
      <img style="max-height: 100%;max-width: 100%;" src="./img/eride.png"/>
    </div>
    <div class = "col button-row text-center">
      <a href="">
        <img src="./img/facebook-button.jpg" />
      </a>
    </div>
    <div class = "col button-row text-center">
      <a href="/auth/facebook">
        <img src="./img/google.png" />
      </a>
    </div>
    <div class = "col text-center">
      Already have an account? <strong><a href = "#">Sign in now!</a></strong>
    </div>
</ion-content>
</ion-view>