<ion-view style="" title="Overview">
    <ion-content class="has-header has-footer" overflow-scroll="true" padding="true">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <form style="" class="list"></form>
        <div style="height: 100px;" class="spacer"></div>
        <div style="" class="button-bar">
            <button style="" class="button button-positive button-block ">Nearest To</button>
            <button style="" class="button button-calm button-block ">Earliest To</button>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-divider">Requests</ion-item>
        </ion-list>
        <div style="" class="list card">
            <div class="item item-divider">Yuri Calistrato</div>
            <div class="item item-body">
                <ion-list style=""></ion-list>
                <h2 style="">[16/02/2016] Midway Mall</h2>
                <div style="">
                    <p>Current slots: 3 - Leaving: 3:00pm</p>
                </div>
                <form style="" class="list">
                    <ion-radio style="">Deny</ion-radio>
                    <ion-radio style="">Accept</ion-radio>
                </form>
            </div>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-divider">Responses</ion-item>
        </ion-list>
        <ion-list style="">
            <ion-item style="" class="item-divider">Created</ion-item>
        </ion-list>
        <div style="" class="list card">
            <div class="item item-divider">My Ride</div>
            <div class="item item-body">
                <ion-list style=""></ion-list>
                <h2 style="">[16/02/2016] Midway Mall</h2>
                <div style="">
                    <p>Current slots: 3 - Leaving: 3:00pm</p>
                </div>
                <form style="" class="list"></form>
                <div style="" class="button-bar">
                    <button style="" class="button button-positive button-block ">View</button>
                    <button style="" class="button button-energized button-block ">Edit</button>
                    <button style="" class="button button-assertive button-block ">Delete</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>