<ion-view style="" title="Routine">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-divider">Need</ion-item>
            <ion-item style="">Midway Mall [12:00]</ion-item>
        </ion-list>
        <button style="" class="button button-balanced button-block  icon-left ion-android-add">Create</button>
        <ion-list style="">
            <ion-item style="" class="item-divider">Offer</ion-item>
            <ion-item style="">Universal Church [18:00]</ion-item>
        </ion-list>
        <button style="" class="button button-balanced button-block  icon-left ion-android-add">Create</button>
    </ion-content>
</ion-view>