<ion-view style="" title="Configurações">
    <ion-content class="has-header has-footer" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <h4 style="">Configura&ccedil;&otilde;es</h4>
            <div style="" class="list card">
                <div class="item item-divider">Identificar-se</div>
                <div class="item item-body">
                    <form style="" class="list">
                        <label style="" class="item item-input">
                            <span class="input-label">Cor</span>
                            <input placeholder="" type="text">
                        </label>
                        <label style="" class="item item-input">
                            <span class="input-label">Placa</span>
                            <input placeholder="" type="text">
                        </label>
                        <label style="" class="item item-input">
                            <span class="input-label">Extra</span>
                            <input placeholder="Model, Stickers, etc" type="text">
                        </label>
                    </form>
                </div>
            </div>
            <div style="" class="list card">
                <div class="item item-divider">Tipo</div>
                <div class="item item-body">
                    <form style="" class="list">
                        <ion-radio style="">Pedestre</ion-radio>
                        <ion-radio style="">Carro</ion-radio>
                        <ion-radio style="">Motocicleta</ion-radio>
                    </form>
                </div>
            </div>
            <div style="" class="list card">
                <div class="item item-body">
                    <form style="" class="list">
                        <ion-item style="" class="range range-positive">Vagas
                            <input max="5" min="0" value="3" type="range" alt="">
                        </ion-item>
                    </form>
                </div>
                <div class="item item-divider">Min 0 - Max 5</div>
            </div>
            <ion-toggle style="" toggle-class="toggle-positive">Notifica&ccedil;&otilde;es</ion-toggle>
        </form>
    </ion-content>
</ion-view>