<ion-view view-title="EcoRide">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Rides Close to You</div>
      <div class="item item-body">
        <div>
          There are <b>3 rides</b> close to you

          <div ng-controller="FirstController">
              <div ng-hide="content">Loading...</div>
              <ul ng-if="content" class="list list-inset">
                  <li ng-repeat="obj in content" class="item"><span ng-bind="::obj.email"></span></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">People Waiting for a Ride</div>
      <div class="item item-body">
        <div>
          There are <b>29</b> people waiting for rides.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">New friends</div>
      <div class="item item-body">
        <div>
          There is no friend request.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
