<ion-view style="" title="Offer a Ride">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <form style="" class="list">
            <ion-radio style="">From</ion-radio>
            <ion-radio style="">To</ion-radio>
            <label style="" class="item item-input">
                <span class="input-label">Leaving</span>
                <input placeholder="" type="date">
            </label>
            <button style="" class="button button-balanced button-block  icon-left ion-android-add">Create</button>
        </form>
    </ion-content>
</ion-view>